.background-img{
    margin-top: 20px;
    width: 100%;
    height: 120px;
    background-image: url('../../../src/assets/img/center-background.png.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.bannerTwo-img{
    width: 100%;
}

.block{
    position: relative;
}
.index-text{
    width: 100%;
    text-align: center;
    position: absolute;
    left:0;
    top:100px;;
    z-index: 10000;

}
.center-text{
    width: 800px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    margin: auto;
}

.block .el-carousel__arrow.el-carousel__arrow--left{
    font-size: 28px;
    color: #89674c;
}

.center{
    width: 1200px;
    background: #fff;
    padding-top: 40px;
    margin: auto;
    text-align: center;
}
.center .center-p{
    color:#89674c;
    width: 780px;
    margin: 20px auto 0;
    font-size: 16px;
    letter-spacing: 4px;
}
.center-logo{
    margin-top: 30px;
}
