.background-img{
    margin-top: 20px;
    width: 100%;
    height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
}
.background-img2{
    width: 100%;
}
.bannerTwo-img{
    width: 100%;
}


.block .el-carousel__arrow.el-carousel__arrow--left{
    font-size: 28px;
    color: #89674c;
}

.center{
    width: 1200px;
    background: #fff;
    padding-top: 40px;
    margin: auto;
    text-align: center;
}
.center .center-p{
    color:#89674c;
    width: 780px;
    margin: 20px auto 0;
    font-size: 16px;
    letter-spacing: 4px;
}
.center-logo{
    margin-top: 30px;
}
